/* #map {
    height: 80vh; 
    width: 80vw; 
    margin: 0 auto;
} */

#map2 {
    height: 80vh;  /* The height is 400 pixels */
    width: 80vw;  /* The width is the width of the web page */
    margin: 0 auto;
}

#map3 {
    height: 80vh;  /* The height is 400 pixels */
    width: 80vw;  /* The width is the width of the web page */
    margin: 0 auto;
}

#map4 {
    height: 50vh;
    width: 50vw;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

  #right-panel select, #right-panel input {
    font-size: 15px;
  }

  #right-panel select {
    width: 100%;
  }

  #right-panel i {
    font-size: 12px;
  }
  #right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
  }
  #map4 {
    margin-right: 400px;
  }
  #floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
  }
  @media print {
    #map4 {
      height: 500px;
      margin: 0;
    }
    #right-panel {
      float: none;
      width: auto;
    }
  }