#map {
    height: 80vh;  /* The height is 400 pixels */
    width: 80vw;  /* The width is the width of the web page */
    margin: 0 auto;
}

#map2 {
    height: 80vh;  /* The height is 400 pixels */
    width: 80vw;  /* The width is the width of the web page */
    margin: 0 auto;
}