.OrderItem-btn {
    width: 100%;
    cursor: pointer;
    outline: none;
}

.OrderItem-btn:hover{
    cursor: pointer;
    outline: none; 
    width: 100%;
    color: white;
}

.OrderItem-btn:active{
    cursor: pointer;
    outline: none; 
    width: 100%;
    color: white;
}

.OrderItem-btn:selected{
    cursor: pointer;
    outline: none; 
    width: 100%;
}

.boxman-area {
    max-width: 90%;
    margin: 0 auto;
    background-color: #F1F1F1;
    font-size: 16px;
    border-radius: 3px;
}

.boxman-name {
    margin: 0 auto;
}

.item {
    font-size: 16px;
}

.card-header {
    color: #419D78;
}