.OrdersList-segment {
    width: 100%;
    text-align: center;
}

/* .OrdersList-submit {
    text-align: center;
    margin: 0 auto;
    background-color: #27B08A;
    color: white;
    border-radius: 30px;
    box-shadow: 3px 3px 3px rgba(36,36,36, 0.2);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    width: 10rem;
} */

.OrdersList-submit {
    cursor: pointer;
    outline: none; 
}

.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: #1172c4;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    border-color: #1172c4;
    border-style: solid;
    border-width: 1px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
}

.green-white {
    font-weight: 700;
    color: #27B08A;
    border-color: #27B08A;
    background: transparent;
    text-decoration: none;
}

.green-white:hover {
    color: white;
    background: #27B08A;
    border-color: #27B08A;
    text-decoration: none
}

