.Profile {
    margin: 0 auto;
}

.Profile-form {
    width: 80%;
    margin: 0 auto;
}

.Profile-headings {
    text-align: center;
}

.Profile-submit {
    text-align: center;
    margin: 0 auto;
    background-color: #27B08A;
    color: white;
    border-radius: 30px;
    box-shadow: 3px 3px 3px rgba(36,36,36, 0.2);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    width: 10rem;
}

.Profile-submit:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.02);
    color: white;
}

.Profile-center {
    text-align: center
}

.Profile-header {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.Profile-image {
    margin: 0 auto;
}

.Profile-upload:hover {
    color: white;
}

.Profile-dropdown {
    height: 50px;
}